1. Find the sum of all list elements.

In [1]:
List = [12,8,5,10,3]
total = sum(List)
print(total)

38

In [3]:
# Using for loop

List = [12,8,5,10,3]
total = 0
for i in List:
    total += i
print(f"The sum of all elements in the List is: {total}")

The sum of all elements in the List is: 38

2. Largest elements in a list

In [4]:
list = [10,20,30,40,50]
largest = list[0]
for i in list:
    if i > largest:
        largest = i
print(f"The largest element in the list is: {largest}")

The largest element in the list is: 50

3. Remove duplicates in a list

In [9]:
my_list = [1,2,2,3,4,4,5]
unique_list = []
for i in my_list:
  if i not in unique_list:
    unique_list.append(i)
print(f"The unique list is: {unique_list}")

The unique list is: [1, 2, 3, 4, 5]

4. Check if all elements in a list are unique

In [10]:
l = [1,3,5,7,9]
is_unique = len(l) == len(set(l))
print(is_unique)

True

In [11]:
def are_elements_unique(list):
  return len(list) == len(set(list))

print(are_elements_unique(["apple","banana","orange"]))
print(are_elements_unique(["apple","banana","apple"]))

True
False

5. Programe to reverse list

In [12]:
def reverse_list(list):
  return list[::-1]

print(reverse_list([2,4,6,8,10]))

[10, 8, 6, 4, 2]

6. Count number of odd and even numbers in a list

In [13]:
numbers = [1,2,3,4,5,6,7,8,9,10]
even_count = 0
odd_count = 0
for i in numbers:
  if i % 2 == 0:
    even_count += 1
  else:
    odd_count += 1

print(f"Even numbers: {even_count}")
print(f"Odd numbers: {odd_count}")

Even numbers: 5
Odd numbers: 5

7. Check if list is subset of another list

In [14]:
L1 = [1,2,3,4,5]
L2 = [2,3]
is_subset = True
for i in L2:
  if i not in L1:
    is_subset = False
    break
print(is_subset)

True

8. Max difference between two consecutive elements in a list

In [16]:
list = [10,7,6,9,2,0]
max_diff = 0

for i in range(len(list)-1):
  diff = abs(list[i] - list[i+1])
  if diff > max_diff:
    max_diff = diff

print(f"The maximum difference between two consecutive elements in the list is: {max_diff}")

The maximum difference between two consecutive elements in the list is: 7

9. Merge multiple Dictionaries

In [17]:
dict = [{"a":1,"b":2},{"c":3,"d":4},{"d":5}]
merged_dict = {}

for i in dict:
  merged_dict.update(i)
print(merged_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 5}

10. Find a words Frequency in a sentence

In [19]:
sentence = "Find a words Frequency in a sentence Find a words Frequency "
words = sentence.split()
frequency = {}

for word in words:
  if word in frequency:
    frequency[word] += 1
  else:
    frequency[word] = 1

print(frequency)

{'Find': 2, 'a': 3, 'words': 2, 'Frequency': 2, 'in': 1, 'sentence': 1}